body, html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.chat-container {
  cursor: auto;
  float: right;
  height: 100%;
  padding: 10px 0;
  position: relative;
  right: 0;
  width: 30%;
  z-index: 9999;
}

.chat-container input {
  border: 1px solid #ddd;
  font-size: 14px;
  height: 40px;
  margin-top: 5px;
  padding: 0 10px;
  width: calc(100% - 22px);
}

.write-message {
  padding-right: 33px;
  width: calc(100% - 45px);   
}

.messages {
 border: 1px solid #ddd;
 height: calc(100% - 111px);
 overflow-y: auto;
}

.message {
  word-wrap: break-word;
}

.btn-submit {
  background: transparent;
  border: none;
  border-radius: 100%;
  bottom: 29px;
  box-shadow: none;
  color: #069;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 5px;
}