@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
	background: #000;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	overflow: hidden;
}

/* modal */

.modal {
	background: rgba(0,0,0,0.8);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	transition: opacity 400ms ease-in;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
}

.modal h2 {
	margin: 0;
}

.modal.hidden {
	display: none;
}

.modal-content {
	background: #fefefe;
	border-radius: 5px;
	margin: 10% auto;
	padding: 25px;
	position: relative;
	text-align: center;
	width: 450px;
}

.modal .form-group {
	display: flex;
	justify-content: space-between;
}

.modal .form-control {
	margin-right: 10px;
}

.modal .btn-create {
	width: 140px;
}


/* party */

.container {
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.box-chat {
	cursor: auto;
	float: right;
	height: 100%;
	margin-left: 10px;
	position: relative;
	right: 0;
	width: 24%;
	z-index: 9999;
}

.box-chat input {
	border: none;
	font-size: 14px;
	height: 40px;
	margin-top: 5px;
}

.box-chat .username {
	padding: 0 10px;
	width: calc(100% - 22px);
}

.box-chat .write-message {
	padding-right: 33px;
	padding-left: 10px;
	width: calc(100% - 45px);
}

.box-chat .messages {
	font-size: 0.9em;
	height: calc(100% - 133px);
	overflow-y: auto;
	padding: 10px 15px;
}

.box-chat .message {
	word-wrap: break-word;
}

.box-chat .message .message-author {
	font-weight: bold;
}

.box-chat .messages, .box-chat input {
	background: #222;
	color: #d8d8d8;
}

.box-chat .btn-submit {
	background: transparent;
	border: none;
	border-radius: 100%;
	bottom: 27px;
	box-shadow: none;
	color: #d8d8d8;
	cursor: pointer;
	font-size: 1.2em;
	height: 30px;
	outline: none;
	position: absolute;
	right: 5px;
	transition: all .3s ease;
	transform: rotate(19deg);
	width: 30px;
}

.box-chat .btn-submit:hover {
	transform: scale(1);
}

.box-chat .btn-submit i {
	position: relative;
	right: 3px;
	top: 0;
}

.box-video {
	height: calc(100% - 50px);
	width: 75%;
}

	/* form control*/

	.form-control {
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		color: #495057;
		font-size: 1rem;
		line-height: 1.5;
		padding: 5px 10px;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		width: 100%;
	}

	.form-control:focus {
		background-color: #fff;
		border-color: #80bdff;
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		color: #495057;
		outline: 0;
	}

	.btn {
		background-color: #3498DB;
		border: none;
		border-radius: 5px;
		color: #FFF;
		cursor: pointer;
		font-size: .7em;
		position: relative;
		padding: 5px 10px;
		text-transform: uppercase;
		transition: all 0.1s;
		-webkit-transition: all 0.5s;
	}
	
	.btn:hover {
		background-color: #4eb4f8;
	}

	/* scrollbar style */

	.messages::-webkit-scrollbar {
		width: 10px;
		background-color: #000000;
	}

	.messages::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #5c5c5c;
	}

	.messages::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #393939;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.08);
	}
